.DS_Store
Thumbs.db
wp-cli.local.yml
node_modules/
dist/**
build/**
tests/wordpress
tests/wordpress-tests-lib
tests/**/*.cache
vendor/
*.sql
*.tar.gz
*.zip
*.lock
.idea/
!composer.lock
!/src/yarn.lock

cache/**
